#container {
    width: 50vw;
    height: 30vh;
    position: relative;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 1px;
    scale: 1;
    display: flex;
}
#tide-range {
    position: relative;
    left: 0;
    top: 0;
    width: 10vw;
    height: 3vh;
    font-size: 11px;
}

#label_tide {
   position: relative;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
}

#label_tides_per_screen {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
}

#manual_check {
    position: absolute;
    left: 105px;
    top: 59px;
    width: 210px;
    height: 33px;
    opacity: 0
}
#accept_button {
   
    position: relative;
    left: 0;
    top: 0;
    scale: 1;

}
#input_5 {
    position: absolute;
    left: 105px;
    top: 90px;
    width: 143px;
}


#label_4 {
    position: absolute;
    left: 27px;
    top: 91px;
    width: 76px;
    height: 27px;
}
#container_7 {
    width: 20vw;
    position: relative;
    left: 0;
    top: 0;
    height: 4vh;
}
#no._of_waves {
       width: 5vw;
    height: 2vh;
}

#container_9 {
    width: 22vw;
    height: 4vh;
    position: relative;
    left: 0;
    top: 0;
}
#container_90 {
    width: 319px;
    height: 196px;
    position: absolute;
    left: -6px;
    top: 5px;
    z-index: -100;
    opacity: 0;
}
#label_9 {
    position: absolute;
    left: 27px;
    top: 143px;
    width: 81px;
    height: 21px;
}

#input_6 {
    position: absolute;
    left: 105px;
    top: 143px;
    width: 142px;
}